@import "compass/utilities/lists/horizontal-list";


.page-header {
	color:white;

	.header-text {
		height:100px;
		background-color:$red;
		border-radius: 0 0 $border-radius $border-radius;	
	}

	h1, h2 {
		display: table-cell;
		vertical-align:middle;
		padding-left: $gutter;
		padding-top: 19px;
	}

	h2 {
		font: {
			family:$bodyFont;
			size: 24px;
		}
	}

	.main-nav {
		margin: 0 $gutter;
		background-color:$red;
		border-radius: 0 0 $border-radius / 2 $border-radius / 2;	
		height: $gutter;

		ul {
			@include horizontal-list-container;
			padding-left: $gutter / 2;
			li {
				@include horizontal-list-item;
				padding: 5px $gutter / 2;

				a { color:white;}
				&.active a {color:#ffe485;}
			}
		}
	}
}