$yellow: #fff9b9;
$red: #f85e5e;
$blue: #6090cb;
$green: #76dd76;
$darkPurple: #5c427e;
$ltPurple: #7b5aa6;

$headerFont: Georgia, serif;
$bodyFont: Arial, sans-serif;

$border-radius: 20px;
$gutter: 30px;