/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
@import "compass/reset";
@import "compass/css3";

@import "variables";


* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}

@mixin hideText() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.row { 
	width: 960px;
	margin: 0 auto;
	position:relative;
	&:after {content:"";display:table;clear:both;}

	.row {width: auto;}
}

.col {
	float: left;
	min-height: 1px;
	position: relative;
}

[class*="col"] {
	+ [class*="col"] {
		&:last-child {
			float: right;
		}
		&.end {
			float: left;
		}
	}
}
	
h1 {
	font: {
		family: $headerFont;
		size: 60px;
		weight:bold;
	}
}
h3 {
	font: {
		family: $headerFont;
		size: 36px;
		weight:bold;
	}	
}

a {
	color:$blue;

	&:hover {
		cursor:pointer;
		color: darken($blue, 40%);
	}
}

@import "header";

.yellowBG {background-color:$yellow;}
.whiteBG{background-color:white;}
.greenBG{background-color:$green;}
.shadow {box-shadow: 0px 2px 5px #000;}

.main-content {
	border-radius: $border-radius;
	margin: $gutter auto;
	padding: $gutter;
}

.left.col, .right.col {
	border-radius: $border-radius;
	padding: $gutter;
}
.left.col {width:61%;}
.legal-text {
	display:none;
	&.visible {display:block;}
}
.right.col {
	width: 29%;

	h3 {
		background: {
			image: url(../images/sprite.png);
			position: 0 0;
			repeat: repeat-x;
		}
		padding-bottom: $gutter / 3;
		margin-bottom: $gutter / 3;
		text-align:center;
	}
	li {
		@include clearfix;
		margin-bottom: $gutter / 2;
		color:white;
		font: {
			family: $headerFont;
			size: 18px;
			weight: bold;
		}
	}
	.date {
		display: block;
		float:left;
		padding-top:10px;
		width: 66px;
		height:66px;
		background:white;
		border-radius: 50%;
		color:$green;
		text-align:center;
		font-size: 36px;
		font-style:italic;
	}
	.desc {
		display:block;
		width: 110px;
		float:right;
	}
}